/*import font*/
@font-face{
	font-family: "Roboto Regular";
	src: url('fonts/Roboto/Roboto-Regular.ttf');
}

/*Style body, html tag*/
body,html{
	font-family: "Roboto Regular";
	height: 100%;
	font-size: 14px;
}

/*Style background container*/
.bg-login{
	background-image: url("../images/Back-End-login.png");
	min-height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.login-form{
	padding-top: 10%;
    width: 250px;
}
.login-form img.logo{
    padding-left: 6px;
}
.wp-login{
    padding-top: 10%;
}
.login-form hr{
	width: 246px;
    margin-left: -1px;
}
.login-form .txt-username, login-form .txt-password{
    padding: 6px 14px 6px;
	border-radius: 0px;
	color: #010101;
}
.login-form .mr-b-username{
	margin-bottom: 10px;
}
.login-form .mr-b-password{
	margin-bottom: 13px;
}
.login-img{
	background-image: url("../images/login-img.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}
/*.login-img img.banner{*/
	/*height: 100%;*/
/*}*/

.login-form .btn-login{
	width: 100%;
	padding: 5px 0px 6px;
	background: #432e4e;
	line-height: 22.68px;
	border: none;
}

/*Style checkbox-remember*/
.login-form .cb-remember{
	width: 20px;
	height: 20px;
	margin-top: 1px;
    background-color: #fff;
}
.login-form input[type="checkbox"] {
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    -moz-appearance: none;
}

.login-form .label-check{
	color: #555;
	padding-left: 7px!important;
	vertical-align: middle;
}
.login-form .mr-b-checkbox{
	margin-bottom: 12px;
}

.help-block{
    color: red;
}



