/*import font*/
@font-face{
    font-family: "Roboto Regular";
    src: url('fonts/Roboto/Roboto-Regular.ttf');
}
@font-face{
    font-family: "Roboto Medium";
    src: url('fonts/Roboto/Roboto-Medium.ttf');
}
@font-face{
    font-family: "OpenSans";
    src: url('fonts/Open-Sans/OpenSans-Regular.ttf');
}
@font-face{
    font-family: "OpenSans SemiBold";
    src: url('fonts/Open-Sans/OpenSans-SemiBold.ttf');
}

/*-- Style Scrollbar --*/
#modal-view{
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #CA86A8;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #ebebeb;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #753354;
    -webkit-box-shadow: inset 0 0 6px #f8f8f8;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #B24D80;
}

html,body{
    width: 100%;
    height: 100%;
}
.bg-container{
    background-image: url("../images/Bg-Room-Manage.png");
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*--- Style sidebar ---*/
.sidebar{
    min-height: 100vh;
    background: #212121;
    width: 16.2%;
}
.logo-manage{
    padding: 30px 30px;
    background: #302d41;
}

/*- Style user -*/
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background: #b1b1b1;
}
.user{
    background: #212121;
    padding: 11px 20px;
    width: 100%;
}
.user a{
    text-decoration: none;
}
.user .content-user>a{
    background: #302d41;
    border: 2px solid #fff;
    display: inline-block;
    border-radius: 100%;
}
.user .content-user>a:hover{
    background: #919191;
}
.user img{
    padding: 9px 10px;
}
.user .content-user .label-1, .user .content-user .label-2{
    font-size: 15px;
    line-height: 24.72px;
}
.user .content-user .label-1{
    color: #b7b7b7;
}
.user .content-user .label-2{
    color: #fff;
}
.user .label-group{
    margin-top: -5px;
    display: inline-block;
    padding-left: 7px;
}

/*- Style menu-sidebar -*/
.sidebar ul li{
    background: #111;
    color: #fff;
    cursor: pointer;
    padding: 0px;
}
.sidebar ul li a{
    text-decoration: none;
    color: #fff;
    display: block;
}
.sidebar ul li:hover{
    background: #302d41;
}
.sidebar ul li.active{
    background: #1565c0;
}

.sidebar ul li .fa{
    color: #fff;
    font-size: 13px;
    line-height: 24.72px;
}
.sidebar ul li span{
    font-size: 13px;
    line-height: 24.72px;
}
.item-menu{
    padding: 9px 21px;
}
.list-group{
    display: block;
}
/*--- Style wrapper-content ---*/
.wrapper-content{
    min-height: 100vh;
    width: 83.8%;
}
/*- Style header -*/
header{
    background: #fff;
}
.content-header{
    padding: 0px 23px 0px 20px;
}
.content-header .time{
    font-family: "Roboto Regular";
    font-size: 14px;
    line-height: 13px;
    color: #111;
}
.content-header button.btn-user{
    background: #fff;
    color: #1f3040;
    border: none;
    padding: 10px 8px;
}
.content-header .dropdown-menu-right{
    border-radius: 0px;
    top: 40px;
}

/*Style wp-inner*/
.wp-inner{
    padding: 8px 9px 31px 6px;
}
.wp-inner .inner{
    background: #f8f8f8;
}
.inner .inner-head{
    background: #fdfdfd;
    font-family: "Roboto Medium";
    font-size: 16px;
    line-height: 24.72px;
    color: #302d41;
    padding: 8px 16px;
}

/*Style inner-content*/
.inner-top .title{
    font-family: "Roboto Medium";
    font-size: 14px;
    color: #11447e;
    padding-top: 12px!important;
    display: inline-block;
    padding-left: 14px!important;
}
.inner-top .title img{
    margin-top: -3px;
    padding-right: 12px;
    cursor: pointer;
}
.inner-top .btn-create{
    padding-top: 10px;
    padding-right: 14px;
    display: inline-block!important;
}
.btn-create-modal, .btn-modal-closed, .btn-modal-update{
    font-family: "Roboto Regular";
    font-size: 14px;
    line-height: 23px;
    padding: 6px 24px;
}
.modal-body{
    max-height: 550px;
    overflow-y: auto;
}
.show-img{
    width: 60%;
}

.custom-modal-media{
    max-width: 900px;
}

/*#modalViewContent table th{*/
    /*width: 20%;*/
/*}*/

/*Style color error, required field*/
.help-block{
    color: red;
}
.required-field{
    color: red;
}

/* Style panigation */
ul.pagination li{
    border-radius: 10%;
    margin: 0px 1px;
}
ul.pagination li a{
    font-family: "Roboto Regular";
    color: #363636;
    text-decoration: none;
    padding: 5px 12px;
}
ul.pagination li a:hover{
    color: #37344b;
    border: 1px solid #959595;
    border-radius: 10%;
}
ul.pagination li.active a{
    border-radius: 10%;
    border: 1px solid #333;
}
ul.pagination li.active a:hover{
    border: 1px solid #333;
}
ul.pagination li.disabled>span{
    color: #c5c5c5;
    padding: 3px 12px;
}

.inner-detail{
    min-height: 455px;
}
.pagination{
    right: 0px;
    bottom: 0px;
}

/*-- Style search group --*/
.search-data form input{
    border-radius: 5px 0px 0px 5px;
}

.filter-data .search-data .btn-search{
    background: #fff;
    border: 1px solid #ced4da;
    border-left: none;
    font-size: 14px;
    line-height: 23px;
    color: #212121;
    border-radius: 0px 5px 5px 0px;
    padding: 7px 12px 6px;
}
.filter-data .search-data .btn-search:hover{
    background: #f5f5f5;
}

/* Style icon DatePicker */
#create-form-dtp-birthday-disp-kvdate i.glyphicon,
#update-form-dtp-birthday-disp-kvdate i.glyphicon,
#create-form-dtp-date-disp-kvdate i.glyphicon,
#update-form-dtp-date-disp-kvdate i.glyphicon,
.bootstrap-timepicker .input-group-addon i.glyphicon
{
    position: absolute;
    font-size: 20px;
    right: 12px;
    z-index: 99;
    top: 8px;
}
#create-form-dtp-birthday-disp-kvdate i.glyphicon-remove,
#update-form-dtp-birthday-disp-kvdate i.glyphicon-remove,
#create-form-dtp-date-disp-kvdate i.glyphicon-remove,
#update-form-dtp-date-disp-kvdate i.glyphicon-remove
{
    right: 40px;
}
#create-form-dtp-birthday-disp-kvdate i.glyphicon:hover,
#update-form-dtp-birthday-disp-kvdate i.glyphicon:hover,
#create-form-dtp-date-disp-kvdate i.glyphicon:hover,
#update-form-dtp-date-disp-kvdate i.glyphicon:hover,
.bootstrap-timepicker .input-group-addon i.glyphicon:hover
{
    color: #7F2286;
}

/* Style modal view */
table.slide-view td img, .slide-view td img{ width:100%; padding:10px; }

.detail-view th{  width: 150px;  }

.booked{
    background: #f5f5f5!important;
    color: #333;
    pointer-events:none;
}

/* Style list seat code show screen */
.note-status-seat{
    left: 20px;
    top: 60px;
    vertical-align: center;
}
.bg-represent{
    width: 30px;
    height: 24px;
}

ul.list-seat-code{
    color: #fff;
}
ul.list-seat-code>li{
    text-decoration: none;
    display: inline-block;
}
ul.list-seat-code>li:first-child
{
    background: #FF5900;
    width: 30px;
}
ul.sub-list li{
    background: #B24D80;
    display: inline-block;
    text-decoration: none;
    margin-left: 5px;
    cursor: pointer;
    width: 30px;
}
ul.sub-list li:hover
{
    background: #753354;
}
ul.sub-list li.checked
{
    background: #753354!important;
}
ul.sub-list li.checked.vip
{
    background: #c29001 !important;
}
ul.sub-list li.vip{
    background: #e4b301!important;
}
ul.sub-list li.vip:hover
{
    background: #c29101 !important;
}

