body {
    background-image: url(../img/bg.jpg);
}

a {
    text-decoration: none !important;
}

.container{
    background: #f7bdf3!important;
}

.bg-header {
    background-color: #f2ccff;
}

.bg-main-menu {
    background-color: #693E6A;
}

.navbar .navbar-brand {
    color: white;
    padding-bottom: 12px;
}

.navbar .navbar-brand:hover {
    color: #DEC8DE;
}

.navbar .collapse .navbar-nav .nav-link {
    color: white;
}

.navbar .collapse .navbar-nav .nav-link:hover {
    color: pink;
}

.card-text {
    text-align: justify;
}

.footer {
    background-color: black;
    color: white;
    background-image: url(../img/footer.png);
    margin-top: 10px;
}

.footer a {
    color: white;
}

.footer .thongtin {
    margin: 10px 0 0 20px;
}

.footer .LienKetWeb {
    margin-bottom: -40px;
    margin-right: 20px;
    float: right;
}

.footer .LienKetWeb a {
    font-size: 22pt;
    margin-right: 10px;
}

.list-group-item:hover {
    font-weight: bold;
    background-color: #e4f1ff;
}

.main-menu {
    padding: 0px 15px;
}

.btn-login, .btn-reg, .card-title {
    color: #945196;
}

.btn-action button:hover, .card-title:hover{
    color: #ad69af;
}

a.btn-action {
    color: #945196;
}

a.btn-action:hover {
    color: #b85eba;
}

.btn-submit {
    background: #693E6A !important;
}

.btn-submit:hover {
    color: #fda7ff !important;
}

.LienKetWeb a:hover {
    color: #6495ed;
}

/*-- Style table-menu --*/
.tab-movie-status {
    background: #693E6A;
}

.tab-movie-status a {
    color: white;
}

.tab-movie-status .nav-item:hover a.active {
    background: #fff;
    color: #7F2286;
}

.tab-movie-status .nav-item:hover a {
    background: #E9BAED;
    color: #7F2286;
    transition: all 0.5s;
}

/*-- Style card --*/
.card-body{
    height: 100%;
    padding: 10px!important;
    overflow: hidden;
}
.card-title{
    font-size: 18px;
}

/* Style image hover movie */
 .hover-gallery img{
     -webkit-transform:scale(0.8); /*Webkit: Scale down image to 0.8x original size*/
     -moz-transform:scale(0.8); /*Mozilla scale version*/
     -o-transform:scale(0.8); /*Opera scale version*/
     -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
     -moz-transition-duration: 0.5s; /*Mozilla duration version*/
     -o-transition-duration: 0.5s; /*Opera duration version*/
     opacity: 1; /*initial opacity of images*/
     /*margin: 0 10px 5px 0; !*margin between images*!*/
 }
.hover-gallery img:hover{
    -webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
    -moz-transform:scale(1.1); /*Mozilla scale version*/
    -o-transform:scale(1.1); /*Opera scale version*/
    box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
    -webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
    -moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
    opacity: 1;
}

/* Style panigation */
ul.pagination li{
    border-radius: 10%;
    margin: 0px 1px;
}
ul.pagination li a{
    font-family: "Roboto Regular";
    color: #363636;
    text-decoration: none;
    padding: 5px 12px;
}
ul.pagination li a:hover{
    color: #37344b;
    border: 1px solid #959595;
    border-radius: 10%;
}
ul.pagination li.active a{
    border-radius: 10%;
    border: 1px solid #333;
}
ul.pagination li.active a:hover{
    border: 1px solid #333;
}
ul.pagination li.disabled>span{
    color: #c5c5c5;
    padding: 3px 12px;
}

.inner-detail{
    min-height: 450px;
}
.pagination{
    right: 0px;
}


/*-- Style booking-ticket --*/
.movie-target,
.cinema-target,
.date-target,
.screen-target,
.playtime-target,
.btn-next{
    background: #C133CB;
    padding: 10px 15px;
    width: 160px;
    height: 55px;
    border-radius: 30px!important;
    font-size: 14px;
    cursor: pointer;
}
.movie-target:hover,
.cinema-target:hover,
.date-target:hover,
.screen-target:hover,
.playtime-target:hover,
.btn-next:hover{
     background-color: #7F2286;
 }
.movie-target.checked,
.cinema-target.checked,
.date-target.checked,
.screen-target.checked,
.playtime-target.checked,
.btn-next.checked{
    background: #7F2286;
}


/* Style list seat code show screen */
.note-status-seat{
    left: 20px;
    top: 60px;
    vertical-align: center;
}
.bg-represent{
    width: 30px;
    height: 24px;
}

ul.list-seat-code{
    color: #fff;
}
ul.list-seat-code>li{
    text-decoration: none;
    display: inline-block;
}
ul.list-seat-code>li:first-child
{
    background: #FF5900;
    width: 30px;
}
ul.sub-list li{
    background: #B24D80;
    display: inline-block;
    text-decoration: none;
    margin-left: 5px;
    cursor: pointer;
    width: 30px;
}
ul.sub-list li:hover
{
    background: #753354;
}
ul.sub-list li.checked
{
    background: #753354!important;
}
ul.sub-list li.checked.vip
{
    background: #c29001 !important;
}
ul.sub-list li.vip{
    background: #e4b301;
}
ul.sub-list li.vip:hover
{
    background: #c29101 !important;
}

/* Style booking-info */
.booking-info p{
    font-weight: bold;
}
.booking-info span{
    font-weight: lighter;
}

/* Style modal view */
table.slide-view td img, .slide-view td img{ width:100%; padding:10px; }

.detail-view th{  width: 150px;  }

.booked{
    background: #f5f5f5!important;
    color: #333;
    pointer-events:none;
}

